#picture {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#up {
    position: absolute;
    top: 5%;
    left: 50%;
}

#back {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

#right {
    position: absolute;
    right: 3%;
    bottom: 50%;
}

div.show_exhibition {
    margin: 0px;
    padding: 0px;
}